

.bg-red {
  background-color: #EC3024;
}

.banner-text {
  background-color: #EC3024;
  color: white;
}

.banner-img {
  width: 100%;
  max-width: 100%;
}

.banner-text-md {
  position: absolute;
  top: 25%;
  left: 48%;
  max-width: 230px;
}

.banner-text h2, .banner-text-md h2 {
  font-size: 22px;
}


