
<div class="container-fluid">

  <div class="row text-center">
    <h1 class="m-4 h1-text d-none d-md-block">Promotions (using Contentful) - <span><a href="https://github.com/jelkada/promos">See on github</a></span></h1>
    <h1 class="m-4 h1-text d-md-none">Promotions<br/><span><a href="https://github.com/jelkada/promos">See on github</a></span></h1>
    <div class="badge badge-secondary position-absolute cursor-pointer btn-lang p-2"
         (click)="onClickLang()">{{ lang === 'English' ? 'French' : 'English' }}</div>
  </div>

  <app-banner ></app-banner>

  <app-card-list></app-card-list>

</div>

